@layer base {
  :root {
    --bg-color: #e8e8ea;
    --primary-color: black;
    --secondary-color: #0449e0;

    --dark-bg-color: #374151;
    --dark-primary-color: #fff;
    --dark-secondary-color: gray;
  }

  .app {
    @apply font-oxygen;

    @apply leading-6;
    @apply text-base;

    @apply bg-bg_primary;
    @apply text-primary;
    @apply dark:bg-bg_dark-primary;
    @apply dark:text-dark-primary;

    @apply min-h-screen;
  }
}
